@media only screen 
   and (min-width : 1028px) {
   /* Styles here */
  	.logo .img-logo{max-height: 50px;display:none;}
  	li.logo{
  		margin-top: 5px;
  		display:none;
  	}

}
@media only screen
and (max-width: 360px){
    section.carousel{
      display:none;

    }     
}
nav{
	font-family: 'Roboto Slab', serif;
}
body{
	font-family: 'Fira Sans', sans-serif;
}
.logo{
	text-align: center;
	margin-top: 32px;
	/*margin-bottom: 136px;*/
}
.logo #logo-container {

    height: 57px;
    margin-bottom: 32px;
    float: left;
    position: relative;



}
.social-link {
    margin-right: 10px;
    display: inline-block;
    width: 22px;
    margin-bottom: 10px;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 68px;
}
.carousel.carousel-slider .carousel-fixed-item {
    right: 0;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    left: 0;
}
.carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.center {
    vertical-align: middle;
    text-align: center;
}

.red {
    background-color: 
    #F44336 !important;
}
.amber {
    background-color: 
    #ffc107 !important;
}
.white-text {
    color: 
    #fff !important;
}
.green {
    background-color: 
    #4CAF50 !important;
}
.blue {
    background-color: 
    #2196F3 !important;
}
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#swipeable .header {
    color: 
    #ee6e73;
    font-weight: 300;
}
#swipeable .tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: 
    #fff;
    margin: 0 auto;
    white-space: nowrap;
}

#swipeable .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
#swipeable .carousel.carousel-slider {
    top: 0;
    left: 0;
}
#swipeable .carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel .carousel-item{
  width:100%;
}

.offline-notification {
  transition: transform 0.3s;
  transform: translateY(-100%) translateX(-50%);
  position: fixed;
  left: 50%;
  background: #222;
  color: white;
  padding: 0.5em;
  text-align: center;
  a {
    color: white;
    &:visited {
      color: white;
    }
  }
  &:hover {
    .offline-notification_explanation {
      display: block;
    }
  }
}

.offline-notification_explanation {
  display: none;
  background: inherit;
  padding-top: 1em;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.offline-msg {
  display: none;
}

.offline {
  .offline-notification {
    transition: transform 0.3s;
    transform: translateY(0) translateX(-50%);
  }

  .online-msg {
    display: none;
  }

  .offline-msg {
    display: block;
  }
}

.card {margin-top: 0!important;}
#test1 {height:100vh; padding-top: 0.5rem; background-color: #eee;}
#test2 {height:100vh; padding-top: 0.5rem; background-color: yellow;}
#test3 {height:100vh; padding-top: 0.5rem; background-color: green;}
#test4 {height:100vh; padding-top: 0.5rem; background-color: blue;}

.sidenav-overlay .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}
.user-view > .background{
  background-image:   url('images/stadiumwall.jpg');
}
td {
  vertical-align: middle;
}